@import "https://r.tlyn.ir/static/font/all.min.css";



  top: 0;
  white-space: nowrap;
  padding-right: 35px;
  float: right !important;
}
.dropdown-menu > li{
    display: flex;
}
.dropdown-menu > li > a{
  color:white;
  font-size: 12px;
  float: right;
}
.dropdown-menu > li > a:before{
  content:"";
  position: absolute;
  background: white;
  right: 20px;
  width: 5px;
  height: 5px;
  border-radius: 10px;
  margin-top: 8px;
}
.mb-10{
  margin-bottom: 10px;
}
.content-center{
  display: flex;
  justify-content: center;
}
td,th{
  text-align:center;
}
.navbar-default{
  position: fixed;
  width: calc(100% - 190px);
  top: 0;
  background: white;
}
.login .navbar-default{
  width: 100%;
}
.pointer {
  cursor: pointer;
}
#navbar-collapse,.dt-buttons{
  display:none;
}
.text-right .panel-body{
  overflow-x: auto;
}
.disabled{
  background: #E0E0E0;
}
.show-password {
  cursor: pointer;
}
/* disable microsoft edge default toggle password button */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
.forgot-password{
  float: left;
  padding: 0;
}
/* disable microsoft edge default toggle password button */
.col-form-label{
  float: right;
}
/* disable microsoft edge default toggle password button */
.content{
  height: 100%;
  max-width: 100%;
  padding: 0;
}
.auth-page{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(images/bg.jpg);
  background-size: contain;
  background-position: center;
}
.auth-page img{
    max-width: 80px;
    margin-bottom: 30px;
}
.brand{
    color: white;
    padding: 30px !important;
    background: #15151b;
    margin: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}
.auth-page button[type="submit"]:hover{
  color: white;
  background: #3490dc;
}
.auth-page button[type="submit"] {
    background: #3490dc;
    height: 40px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type=file]{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.info-box{
  max-height: 80px;
}
.info-box-content {
  color: black;
}
.grecaptcha-badge,.buttons-excel{
  visibility: hidden;
}
#export_excel{
  background: #dc3545;
  color: white;
  padding: 10px 9px;
  border-radius: 20px;
  position: absolute;
  left: 6px;
  top: 7px;
  font-size: 14px;
}
.dataTables_info{
  margin: 10px 0 10px 25px;
}
.dataTables_wrapper .dataTables_paginate{
    border: 1px solid #0a7bff;
    padding: 0 !important;
    border-radius: 5px;
    margin: 10px 20px;
}
.dataTables_wrapper div.dataTables_paginate .paginate_button.current,
.dataTables_wrapper div.dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper div.dataTables_paginate .paginate_button:not(.disabled):hover{
    background: #0b7bff !important;
    color: white !important;
    border-color: #0b7bff;
    margin: 0;
}
.dataTables_wrapper div.dataTables_paginate .paginate_button{
    border-left: 1px solid #0b7bff !important;
    font-weight: bold;
    margin: 0;
    border-radius: 0;
    padding: 2px 10px;
    line-height: 20px;
}
.dataTables_wrapper div.dataTables_paginate .paginate_button.next{
  border-left: 0 !important;
}
table.dataTable thead th, table.dataTable thead td{
    border-bottom: 1px solid #dee2e6 !important;
}
table.dataTable.no-footer{
    border-bottom: 1px solid #dee2e6 !important;
}
.dataTables_wrapper{
    border-top: 1px solid #dee2e6;
    padding-top: 10px;
}
.dataTables_wrapper .dataTables_filter input{
    border: 1px solid #BDBDBD;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}
.dataTables_wrapper .dataTables_filter{
    margin-right: 20px;
}
.monospace{
    font-family: monospace;
}
.uppercase{
    text-transform: uppercase;
}
.spinner{
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  padding: 80px;
  align-items: center;
  justify-content: center;
}

textarea.fix_txtarea{
  height: 5em;
  resize: none;
}

.notification-container{
  position: fixed;
  z-index: 9999;
  bottom: 5px;
  left: 5px;
}

.notification {
  text-align: right;
  margin-top: 10px;
  padding: 15px;
  background-color: white;
  box-shadow: 0px 0px 6px -3px black;
  width: 340px;
}

.notification-success{
  border-top: 10px solid #28a745;
}

.notification-danger,.notification-error{
  border-top: 10px solid #c82333;
}

[type=reset], [type=submit], button, html [type=button] {
  direction: ltr;
}
.modal-content.loading::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  opacity: 0.7;
  background: url(images/loading.svg) no-repeat center;
  background-color: white;
  background-size: 130px;
}
.letter-spacing-2{
  letter-spacing: 2em;
}
.otp{
  width: 50px;
  height: 50px;
  text-align:center;
  border-radius: 10px;
  border: 0;
  background: #eeeeee;
  outline: 0;
}
.hide-flash {
  width: 20px;
  height: 20px;
  float: right;
  border-radius: 10px;
  display: flex;
  color: #727b7d;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 5px;
}

.custom-box-icon{
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 40px;
}
.h-unset {
  height: unset !important;
}
.bg-teal {
  background: #B5E0FF;
}
.bg-primary-light {
  background: #DBECFF;
}
.bg-warning-light {
  background: #ffd65ccc;
}
.c-warning-light {
  color: #CDA326;
}
.bg-danger-light {
  background: #F6A1A9;
}
.c-danger-light {
  color: #FF707D;
}
.bg-success-light {
  background: #83FF9F;
}
.c-success-light {
  color: #59E078;
}
.dir-ltr{
  direction: ltr;
}
#myChart{
  height: 200px !important;
}
.bg-\[\#808080\]{
  background-color: #808080;
}
.bg-\[\#115E38\]{
  background-color: #115E38;
}
.bg-\[\#9570FF\]{
  background-color: 9570FF;
}
.bg-\[\#B08A00\]{
  background-color: B08A00;
}
.scrollable{
  
}

.receipt-title{
  background-color: #00000050;
  padding: 20px;
  margin: auto;
  border-radius: 0 0 20px 20px;
  color: white;
}
.receipt-body{
  background: white;
  margin: 30px auto 50px auto;
  padding: 40px 20px 20px 20px;
  border-radius: 20px 20px 0 0;
}
.receipt-divider{
  height: 1px;
  margin: 20px 0;
  background-image: linear-gradient(to right, black 50%, transparent 50%), linear-gradient(to right, black 50%, transparent 50%);
  background-position: left top, left bottom, left top, right top;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 20px 5px, 20px 5px;
  position: relative;
}
.receipt-divider::before,
.receipt-divider::after{
    content: "";
    background-color: #115E38;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 100%;
    margin-top: -15px;
}
.receipt-divider::before{
    right: -35px;
}
.receipt-divider::after{
    left: -35px;
}
.receipt-bottom{
  position: relative;
  bottom: -35px;
  border-top: 30px dotted var(--receipt-base-color);
}
.receipt-row{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.receipt-row :nth-child(2){
    border-top: 1px dashed #A8A8A8;
    width: max-content;
    align-self: center;
    flex-grow: 1;
    margin: 0 10px;
}
.receipt-head{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.receipt-head img{
  width: 50px;
  margin-bottom: 15px;
}

/* SWITCH INPUT { */
label.switch { margin-bottom: 0; }
label.switch > input[type=checkbox] {
    opacity: 0;
    display: none;
}
label.switch > div.switch-btn {
    position: relative;
    width: 50px;
    height: 30px;
    background: #6F6F76;
    border-radius: 25.5px;
    box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.15);
}
label.switch > div.switch-btn:before {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    background: linear-gradient(white, #f2f2f2);
    left: 3px;
    top: 50%;
    transition: all 200ms ease-out;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 8px 6px -4px rgba(0, 0, 0, 0.1);
    transform: translateY(-50%);
}
label.switch > input[type=checkbox]:checked + div.switch-btn {
    background: #007BFF;
}
label.switch > input[type=checkbox]:checked + div.switch-btn:before {
    left: 23px;
}
/* } SWITCH INPUT */

/* LOADING { */
.wrapper * {
	transition: all 0.3s;
	opacity: 1;
}

.wrapper.loading * {
	opacity: 0;
}

.wrapper.loading:before {
	content: "";
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 99999999999999999999;
	width: 50px;
	height: 50px;
	transform: translateX(-50%) translateY(-50%);
	filter: brightness(0);
	background-image: url('/images/loading.svg');
	background-position: center center;
	background-repeat: no-repeat;
}
/* } LOADING */

@media(max-width:724px){
  #app{
    margin-right: 0;
  }
  aside{
    right: -190px;
    top: 50px;
    transition: all 0.3s;
  }
  body.collapsed aside{
    right: 0;
  }
  .navbar-default{
    width: 100%;
  }
  #navbar-collapse{
    width: fit-content;
    position: absolute;
    top: 9px;
    right: 22px;
    font-size: 25px;
    display:block;
    cursor: pointer;
  }
  .table-nowrap{
    white-space: nowrap;
  }
  .auth-page img{
    max-width: 70px;
  }
  /* .small-box>.inner {
    height: 110px;
  } */

  textarea.fix_txtarea{
    height: 7em;
  }
}

#loadingBar {
    height: 2px;
    position: fixed;
    top: 57px;
    left: 0;
    width: 100%;
    direction: ltr;
    z-index: 999;
}
#loadingBar .progress-bar {
    transition: all 0.5s;
    width: 0 !important;
}
#loadingBar.loading .progress-bar{ width: 30% !important; }
#loadingBar.loaded .progress-bar{ width: 100% !important; }

.overflow-auto{ overflow: auto !important; }
.overflow-hidden{ overflow: hidden !important;  }
.x-overflow-auto{ overflow-x: auto !important; }
.x-overflow-hidden{ overflow-x: hidden !important;  }
.y-overflow-auto{ overflow-y: auto !important; }
.y-overflow-hidden{ overflow-y: hidden !important;  }

.h-20{ height: 20% !important; }
.h-33{ height: 33.3333% !important; }
.w-20{ width: 20% !important; }
.w-33{ width: 33.3333% !important; }
@media (min-width: 576px){
    .h-sm-20 { height: 20% !important; }
    .h-sm-25 { height: 25% !important; }
    .h-sm-33 { height: 33.3333% !important; }
    .h-sm-50 { height: 50% !important; }
    .h-sm-75 { height: 75% !important; }
    .h-sm-100 { height: 100% !important; }
    .h-sm-auto { height: auto !important; }
    .w-sm-20 { width: 20% !important; }
    .w-sm-25 { width: 25% !important; }
    .w-sm-33 { width: 33.3333% !important; }
    .w-sm-50 { width: 50% !important; }
    .w-sm-75 { width: 75% !important; }
    .w-sm-100 { width: 100% !important; }
    .w-sm-auto { width: auto !important; }
}
@media (min-width: 768px){
    .h-md-20 { height: 20% !important; }
    .h-md-25 { height: 25% !important; }
    .h-md-33 { height: 33.3333% !important; }
    .h-md-50 { height: 50% !important; }
    .h-md-75 { height: 75% !important; }
    .h-md-100 { height: 100% !important; }
    .h-md-auto { height: auto !important; }
    .w-md-20 { width: 20% !important; }
    .w-md-25 { width: 25% !important; }
    .w-md-33 { width: 33.3333% !important; }
    .w-md-50 { width: 50% !important; }
    .w-md-75 { width: 75% !important; }
    .w-md-100 { width: 100% !important; }
    .w-md-auto { width: auto !important; }
}
@media (min-width: 992px){
    .h-lg-20 { height: 20% !important; }
    .h-lg-25 { height: 25% !important; }
    .h-lg-33 { height: 33.3333% !important; }
    .h-lg-50 { height: 50% !important; }
    .h-lg-75 { height: 75% !important; }
    .h-lg-100 { height: 100% !important; }
    .h-lg-auto { height: auto !important; }
    .w-lg-20 { width: 20% !important; }
    .w-lg-25 { width: 25% !important; }
    .w-lg-33 { width: 33.3333% !important; }
    .w-lg-50 { width: 50% !important; }
    .w-lg-75 { width: 75% !important; }
    .w-lg-100 { width: 100% !important; }
    .w-lg-auto { width: auto !important; }
}
@media (min-width: 1200px){
    .h-xl-20 { height: 20% !important; }
    .h-xl-25 { height: 25% !important; }
    .h-xl-33 { height: 33.3333% !important; }
    .h-xl-50 { height: 50% !important; }
    .h-xl-75 { height: 75% !important; }
    .h-xl-100 { height: 100% !important; }
    .h-xl-auto { height: auto !important; }
    .w-xl-20 { width: 20% !important; }
    .w-xl-25 { width: 25% !important; }
    .w-xl-33 { width: 33.3333% !important; }
    .w-xl-50 { width: 50% !important; }
    .w-xl-75 { width: 75% !important; }
    .w-xl-100 { width: 100% !important; }
    .w-xl-auto { width: auto !important; }
}
